*.exe
*.pck
*.PCK
*.jpg
*.ico
*.dll
*.so
*.dat
*.txt
*.ini
*.lib
*.iobj
*.ipdb
*.pdb
*.tmp
*.exp
*.db
*.opendb
*.tlog
*.log
*.obj
*.idb
*.ilk
*.ipch


deps/*/

!LICENSE.txt
!COPYING.LESSER
!sanguo7.5
!deps/*.cmd
!deps/*.sh
!deps/*.md
!*.sln
!*.vcxproj
!*.filters
!*.user
!art/**
