*.exe
*.pck
*.PCK
*.jpg
*.ico
*.dll
*.so
*.dat
*.txt
*.ini
*.lib
*.iobj
*.ipdb
*.pdb
*.tmp
*.exp

deps/*/
generate/

!LICENSE.txt
!COPYING.LESSER
!sanguo7.5
!deps/*.cmd
!deps/*.sh
!deps/*.md
!*.sln
!*.vcxproj
!*.filters
!*.user
!art/**
